@import "core/reset";
@import "core/variables";
@import "core/buttons";
@import "core/mixins";
@import "core/utils";

.app {
    height: 100%;

    .sidebar {
        border-right: 5px solid $color-primary;
        padding: 20px 30px;

        h1 {
            font-size: $font-size-big;
            font-weight: 700;
            color: $color-primary;
            padding-bottom: 8px;
        }

        p {
            font-weight: 400;
        }

        .title {
            height: 5%;
        }

        .categories {
            height: 75%;
            padding-top: 20px;
        }

        .option {
            height: $option-size;
            line-height: $option-size;
            width: $option-size;
            color: white;
            text-align: center;
            background-color: $color-primary;
            border-radius: 50%;
            font-size: $font-size-large;
            cursor: pointer;

            &:hover {
                background-color: $color-secondary;
                font-weight: 600;
            }

            &.inactive {
                background-color: $color-gray;
            }

            &.enable {
                border: 3px solid $color-enable;
            }
          }

        .logo {
            height: 10%;
            background-image: url($img-dir + 'logo-green.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .sidebar-footer {
            height: 5%;
            text-align: center;
            float: center;
        }
    }

    .map {
        canvas#canvasMap {
            width: 100%;
            height: 100%;
            background-color: $color-black;
            background-image: url($img-dir + 'stars.jpg');
            background-size: cover;
            background-repeat: repeat;
        }

    }
}