@import "core/reset";
@import "core/variables";
@import "core/buttons";
@import "core/mixins";
@import "core/utils";

.app {
    height: 100%;

    .sidebar {
        border-right: 5px solid $color-primary;
        padding: 20px 30px;

        .title {
            font-size: $font-size-large;
            color: $color-primary;
            padding-bottom: 8px;
        }
    }
    
    .map {
        // width="1000" height="1000" style="width: 100%; height: auto; background-color: black;"
        canvas#canvasMap {
            width: 100%;
            height: 100%;
            background-color: $color-black;
            background-image: url($img-dir + 'stars.jpg');
            background-size: cover;
            background-repeat: repeat;
        }
    
    }
}
