<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <div class="col-sm-12" id="globe">
            <canvas id="canvasOne" width="1000" height="1000"
                    style="width: 100%; height: auto; background-color: black;">
                Your browser does not support HTML5 Canvas.
            </canvas>
        </div>
    </div>
</body>
</html>
